<% @title = "Home"%>
<div class="center jumbotron">
  <h1>Welcome to the Instagramm</h1>

  <h2>
    This is done by the Ruby on Rails
    <a href="http://www.railstutorial.org/">Read it here</a>
    !!!!
  </h2>
</div>

